// Sass for videojs-http-source-selector

.video-js {

  // This class is added to the video.js element by the plugin by default.
  &.vjs-http-source-selector {
    display: block;

    .vjs-menu {
      // Olaris: Make it wider because we have to fit more in there
      width: 15em;
      // The button is 4em wide and all the way to the right, so shift the popup over a bit
      left: -11em;
    }
  }
}
